html, body{
	margin: 0;
	padding: 0;
	border: 0;
}

#menu{
	position: fixed;
	top: 0;
	padding-top: 15px;
	height: 30px;
	width: 100%;
	border-bottom: 2px solid hsl(0,0%,50%);
	background-color: hsla(0,0%,0%,1);
	z-index: 1;
}

#menu .menu-item{
	display: inline;
	border: 2px solid hsl(0,0%,0%);
	border-radius: 5px;
	padding: 5px;
	margin: 0 5px 0 5px;
	background-color: hsla(0,100%,100%,1);
}

#menu .menu-item:hover{
	cursor: pointer;
	border-color: yellow;
}

#menu .menu-item.ativo{
	background-color: hsl(150,100%,50%);
}

article{
	position: relative;
	top: 50px;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	padding: 10px;
	margin: 10px 0 0 0;
}

article img{
	position: relative;
	float: left;
}

article div{
	position: relative;
	margin-left: 175px;
}

article footer{
	clear: both;
}

.filme{
	display: none;
}

.filme.drama{
	background-color: hsla(280, 100%, 80%, 0.5);
}

.filme.drama h1{
	color: hsla(280, 100%, 10%, 1);
}

.filme.drama p{
	color: hsla(280, 100%, 30%, 1);
}

body.drama .drama{
	display: block;
}


.filme.romance{
	background-color: hsla(310, 100%, 80%, 0.5);
}

.filme.romance h1{
	color: hsla(310, 100%, 10%, 1);
}

.filme.romance p{
	color: hsla(310, 100%, 30%, 1);
}

body.romance .romance{
	display: block;
}


.filme.terror, .filme.suspense{
	background-color: hsla(0, 100%, 0%, 0.5);
}

.filme.terror h1, .filme.suspense h1{
	color: hsla(0, 100%, 100%, 1);
}

.filme.terror p, .filme.suspense p{
	color: hsla(0, 0%, 100%, 1);
}

body.terror .terror{
	display: block;
}


.filme.comedia{
	background-color: hsla(60, 100%, 80%, 0.5);
}

.filme.comedia h1{
	color: hsla(60, 100%, 10%, 1);
}

.filme.comedia p{
	color: hsla(60, 100%, 30%, 1);
}
body.comedia .comedia{
	display: block;
}


.filme.animacao{
	background-color: hsla(120, 100%, 80%, 0.5);
}

.filme.animacao h1{
	color: hsla(120, 100%, 10%, 1);
}

.filme.animacao p{
	color: hsla(120, 100%, 30%, 1);
}

body.animacao .animacao{
	display: block;
}


.filme.acao{
	background-color: hsla(0, 100%, 80%, 0.5);
}

.filme.acao h1{
	color: hsla(0, 100%, 10%, 1);
}

.filme.acao p{
	color: hsla(0, 100%, 30%, 1);
}

body.acao .acao{
	display: block;
}



.filme.aventura{
	background-color: hsla(240, 100%, 80%, 0.5);
}

.filme.aventura h1{
	color: hsla(240, 100%, 10%, 1);
}

.filme.aventura p{
	color: hsla(240, 100%, 30%, 1);
}

body.aventura .aventura{
	display: block;
}

.filme.romance.erotico{
	background: #cb5fb3;
	background: -moz-linear-gradient(top, hsla(313,51%,58%,1) 0%, hsla(316,81%,38%,1) 50%, hsla(320,69%,58%,1) 100%);
	background: -webkit-linear-gradient(top, hsla(313,51%,58%,1) 0%,hsla(316,81%,38%,1) 50%,hsla(320,69%,58%,1) 100%);
	background: linear-gradient(to bottom, hsla(313,51%,58%,1) 0%,hsla(316,81%,38%,1) 50%,hsla(320,69%,58%,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5fb3', endColorstr='#de48ac',GradientType=0 ); 
}

.filme.romance.erotico p{
	color: hsla(0, 100%, 100%, 1);
}

.filme.suspense.fantasia{
	background: #405f94;
	background: -moz-linear-gradient(top, hsla(218,40%,42%,1) 0%, hsla(0,37%,18%,1) 100%);
	background: -webkit-linear-gradient(top, hsla(218,40%,42%,1) 0%,hsla(0,37%,18%,1) 100%);
	background: linear-gradient(to bottom, hsla(218,40%,42%,1) 0%,hsla(0,37%,18%,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405f94', endColorstr='#3f1d1d',GradientType=0 );
}

body.erotico .erotico{
	display: block;
}

body.fantasia .fantasia{
	display: block;
}

body.historico .historico{
	display: block;
}

body.musical .musical{
	display: block;
}

body.familia .familia{
	display: block;
}

body.suspense .suspense{
	display: block;
}

body.biografia .biografia{
	display: block;
}

body.policial .policial{
	display: block;
}

body.guerra .guerra{
	display: block;
}





